/*Logo*/
h1 {
  font-family: "Playfair Display SC";
  text-align: center;
  background: white;
  font-size: 36px;
  overflow: hidden;

  border-color: black;
  border-width: 2px;
  border-style: solid;
} 

body {
  font-family: "Outfit";
  background: white;
  cursor: url("ZCursor.svg"), auto;
}

a:hover {
  cursor: url("ZPointer.svg"), pointer;
}

/*Navigation Bar*/
ul.navigation {
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
  
  z-index: 1;
  position: sticky;
  top: 0px;

  background-color: white;
}

ul.navigation a {
  display: inline-block;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: -5px;

  font-size: 18px;
  background-color: white;
  color: black;

  transition: background 0.5s;
}

ul.navigation a:hover {
  background: black;
  color: white;
}

ul.navigation a:link {
  text-decoration: none;
}

ul.navigation a:hover img{
  filter: invert(1);
}

#active {
  background: black;
  color: white;
}

#active img {
  filter: invert(1);
}

ul.navigation a img {
  width: 20px;
  margin-bottom: -3px;
  margin-right: 2px;
  margin-left: -5px;
}

/*Header*/
h2 {
  text-align: center;
  background: black;
  font-size: 20px;
  color: white;
  padding: 5px;
  
  z-index: 1;
  position: sticky;
  top: 33px;
}

.page .endnote {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  margin-bottom: 35px;
  
  background: black;
  color: white;
}

/*Social Media Links*/
ul.footer {
  list-style-type: none;
  font-size: 10px;
  text-align: center;
  overflow: hidden;
  padding: 5px;
  margin: auto;
  max-width: 200px;

  border: black;
  border-width: 2px;
  border-style: solid;

  position: sticky;
  bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-size: 15px;
  background-color: white;
  color: black;
}

ul.footer a {
  display: inline-flex;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100px;

  background-color: white;
  text-decoration: none;
  color: black;
  border: black;
  border-width: 2px;
  border-style: solid;

  transition: background 0.5s;
}

ul.footer a:hover {
  background: black;
  color: white;
  display: inline;
}

/*Shorten Page Width*/
div.page {
  max-width: 60%;
  margin: auto;
}

h2.white {
  background: white;
  color: black;
  
  border-color: black;
  border-width: 2px;
  border-style: solid;
  
  position: sticky;
  top: 66px;
}

/*Marquee*/
.marquee {
  width: auto;
  line-height: 0px;
  background-color: black;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 15px;
  margin-top: -10px;
  /*box-sizing: border-box;*/
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}
@keyframes marquee {
  0%   { transform: translate(10%, 0); }
  100% { transform: translate(-200%, 0); }
}

/*Gallery*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  background: white;
  width: 50%;
}

.item {
  margin: 5px;
  height: auto;
  border: 3px solid black;
  transition: opacity 0.5s, border 0.5s;
  
  z-index: -1;
}

.item:hover {
  border: 3px solid grey;
  opacity: 50%;
}

.item img {
  width: 100%;
  height: auto;
}

.item .desc {
  padding: 10px;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .column {
    min-width: calc(100% - 20px);
  }
}

/*Scroll Bar*/
body::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-color: black;
  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
}
